#TEMPLATE CONFIGURATION FOR AUTOFISHBOT
#FILENAME: (NAME).CONFIG
#YOU CAN JUST COPY PASTE THIS FILE TO THE CONFIG
#FOLDER AND CUSTOMIZE IT.

#TIP:
#YOU CAN ALSO USE 'python autofishbot.py --create' 
#TO CREATE A NEW CONFIG FILE.

#LABELS:
#   BOOLEAN -> True | False | 0 | 1
#   STR -> any text value
#   INT -> any integer value
#   FLOAT -> any numeric value
#   LITERAL -> specific

#MORE HELP: https://github.com/thejoabo/virtualfisher-bot/assets/faq.md

#------------------------ SYSTEM RELATED --------------------------#
[SYSTEM]

USER_TOKEN = YOUR TOKEN
#STR | REQUIRED

USER_COOLDOWN = 3.5
#FLOAT | REQUIRED

CHANNEL_ID = YOUR CHANNEL ID
#STR | REQUIRED

DEBUG = TRUE
#BOOLEAN


#------------------------ CAPTCHA RELATED --------------------------#

[CAPTCHA]

OCR_API_KEY = YOUR API KEY
#STR | REQUIRED


#------------------------ NETWORK RELATED --------------------------#

[NETWORK]

USER_AGENT = 
#STR

PROXY_IP = 
#STR

PROXY_PORT = 
#INT

PROXY_AUTH_USER = 
#STR

PROXY_AUTH_PASSWORD = 
#STR


#---------------------- AUTOMATION RELATED ----------------------#

[AUTOMATION]

BOOSTS_LENGTH = 5
#LITERAL INT (5, 20)

MORE_FISH = FALSE
#BOOLEAN

MORE_TREASURES = FALSE
#BOOLEAN

FISH_ON_EXIT = FALSE
#BOOLEAN

AUTO_DAILY = FALSE
#BOOLEAN

AUTO_BUY_BAITS = FALSE
#BOOLEAN

AUTO_SELL = FALSE
#BOOLEAN

AUTO_UPDATE_INVENTORY = FALSE
#BOOLEAN


#------------------------ MENU RELATED --------------------------#

[MENU]

COMPACT_MODE = FALSE
#BOOLEAN

REFRESH_RATE = 0.3
#LITERAL FLOAT (0.1 to 1.0)


#---------------------- COSMETIC RELATED ------------------------#

[COSMETIC]

PET = 
#STR

BAIT = 
#STR

BIOME = 
#STR
