#TEMPLATE CONFIGURATION FOR AUTOFISHBOT
#FILENAME: (NAME).CONFIG
#YOU CAN JUST COPY PASTE THIS FILE TO THE CONFIG
#FOLDER AND CUSTOMIZE IT.

#LABELS:
#   BOOLEAN -> True | False | 0 | 1
#   STR -> any text value
#   INT -> any integer value
#   FLOAT -> any numeric value
#   LITERAL -> specific

#MORE HELP: https://github.com/thejoabo/virtualfisher-bot/assets/faq.md


[PREFERENCES]
#INT
CHANNEL_ID = YOUR CHANNEL ID

#STR
USER_TOKEN = YOUR TOKEN

#STR
OCR_API_KEY = YOUR API KEY

#FLOAT
USER_COOLDOWN = 3

#STR
BAIT = YOUR BAIT HERE

#BOOLEAN
AUTO_BUFF = FALSE

#LITERAL (5, 20)
BUFF_LENGTH = 5

#BOOLEAN
FISH_ON_EXIT = FALSE

#BOOLEAN
COMPACT_MODE = FALSE

#BOOLEAN
DEBUG = TRUE

#LITERAL ('default', 'e')
NUMBER_FORMATTING = default


